<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>List</th>
      <th>Porcentage</th>
      <th>Priority</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>State</th>
      <th>Description</th>
      <th>Name</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.list %></td>
        <td><%= task.porcentage %></td>
        <td><%= task.priority %></td>
        <td><%= task.startDate %></td>
        <td><%= task.endDate %></td>
        <td><%= task.state %></td>
        <td><%= task.description %></td>
        <td><%= task.name %></td>
        <td><%= task.type %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
